/* ALIASES: Amplitude fonts */
@font-face {
    font-family: "fal";
    src: url('/Melify/fonts/amplitude/Amplitude-Light.ttf');
}

@font-face {
    font-family: "fam";
    src: local('Amplitude Medium'), url('/Melify/fonts/amplitude/Amplitude-Medium.ttf');
}

@font-face {
    font-family: "far";
    src: local('Amplitude regular'), url('/Melify/fonts/amplitude/Amplitude-Regular.ttf');
}

@font-face {
    font-family: "fab";
    src: local('Amplitude bold'), url('/Melify/fonts/amplitude/Amplitude-Bold.ttf');
}

/* ALIASES: Roboto fonts */
@font-face {
    font-family: "frl";
    src: url('/Melify/fonts/roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: "frm";
    src: url('/Melify/fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: "frr";
    src: url('/Melify/fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: "frb";
    src: url('/Melify/fonts/roboto/Roboto-Black.ttf');
}
